html{
	font-size: 100%;
}

body {
    background-color: #e6e6e9;
}

/*********************Typography*********************/

.main-container{
	padding: 1rem;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 1.875rem;
}

h3{
	font-size: 1.5rem;
}

p{
	margin-bottom: 1.5rem;
}

/* ***************************Header************************ */

header{
	background-color: #fff;
	box-shadow: 2px 2px 3px #cbcbd1;
}

.what-is-responsive section{
	background-color: #fff;
	border: 1px solid black;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: flex-start;
}

section img{
	width: 30%;
	margin-right: 0.5rem;
}

@media screen and (min-width: 975px){
	.flex-container{
		display: flex;
		justify-content: space-between;
	}

	.what-is-responsive section{
		width: 32%;
		display: block;
	}

	section img{
		min-width: 100%;
		margin-bottom: 10px;
	}

	.main-container{
		max-width: 1700px;
		margin: 0 auto;
	}
}