.row{
	display: flex;
	gap: 1rem;
	background-color: palegoldenrod;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 40px;
}

.flex-item{
	width: 300px;
	padding: 12px;
	background: gainsboro;
}

.column{
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	background-color: palegoldenrod;
	align-items: center;
}